.modal {
  backdrop-filter: blur(2px);
}

.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,  -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index:  1000;
}

.modal-header {
  border-bottom: 1px solid #dee2e6;
  border-radius: 8px 8px 0 0;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  border-radius: 0 0 8px 8px;
}